{% extends 'base.html' %} 
{% block content %}

<div class="p-7">

    <div class="flex flex-col md:flex-row gap-3 items-center justify-between">
      <h1 class="font-primary text-primary font-bold text-3xl">
        My Connections ({{ connections.count }})
      </h1>
      <a href="{% url 'connections_create' %}" class="button-text bg-primary border-2 border-primary text-white text-sm px-6 py-1 rounded-full hover:text-primary hover:bg-white transition duration-300">
        Add Connection
      </a>
    </div>
    <hr class="my-3">

    <!-- Connections container -->
    <div class="grid xl:grid-cols-3 grid-cols-1 mt-6 gap-7">
      <!-- Start forEach / Cards go here -->
      {% for connection in connections|dictsort:"name" %}
        <a href="{% url 'connections_detail' connection.id %}">
         <div class="card bg-white w-full max-h-fit hover:scale-105 transition duration-300 text-center">
            <h3 class="bg-cyan-300 p-2 capitalize font-semibold">{{ connection.name }}</h3>
            <div class="flex flex-col items-center px-4 justify-center h-36 py-2">
                <p class="text-lg capitalize mb-2"><span class="text-cyan-500 font-bold">Company: </span><br>{{ connection.company }}</p>
                <p class="text-lg capitalize"><span class="text-cyan-500 font-bold">Met at: </span><br>{{ connection.location }}</p>                
            </div>
         </div>
        </a>
      {% endfor %}
  
          <!-- end of for each -->
    </div>
</div>



{% endblock %}