{% extends 'base.html' %} 
{% block content %}

<div class="p-7">

    <div class="flex flex-col md:flex-row gap-3 items-center justify-between">
      <h1 class="font-primary text-primary font-bold text-3xl">
        My Connections ({{ connections.count }})
      </h1>
      <a href="{% url 'connections_create' %}" class="button-text bg-primary border-2 border-primary text-white text-sm px-6 py-1 rounded-full hover:text-primary hover:bg-white transition duration-300">
        Add Connection
      </a>
    </div>

    <!-- Connections container -->
    <div class="grid grid-cols-3 gap-3">
      <!-- Start forEach / Cards go here -->
      {% for connection in connections %}
        <a href="{% url 'connections_detail' connection.id %}">
         <div class="card my-3 bg-white 2xl:w-64 w-full max-h-fit hover:scale-105 transition duration-300 text-center">
            <h3 class="bg-cyan-300 p-2 capitalize font-semibold">{{ connection.name }}</h3>
            <div class="flex flex-col items-center px-4 justify-center h-32">
                <p class="text-2xl font-bold">{{ connection.company}}</p>
            </div>
         </div>
        </a>
      {% endfor %}
  
          <!-- end of for each -->
    </div>
</div>



{% endblock %}