{% extends 'base.html' %} {% block content %}

<div class="flex flex-col xl:flex-row justify-between">
	<!-- gray section container -->
	<section class="xl:h-screen h-fit py-7 2xl:px-12 lg:px-5 px-8 xl:w-3/4">
		<div class="flex flex-col md:flex-row gap-3 items-center justify-between">
      <h1 class="font-primary text-primary font-bold text-3xl capitalize">
        Job Application: {{ job.position }} @ {{ job.company }}
      </h1>
      <a href="{% url 'jobs_update' job.id %}" class="button-text bg-primary border-2 border-primary text-white text-sm px-6 py-1 rounded-full hover:text-primary hover:bg-white transition duration-300">
        Edit Job
      </a>
    </div>

		<section>
			<!-- job details top card -->
			<div class="card p3 my-3 min-h-fit text-center shadow-md w-full">
				<!-- job details green header -->
				<div class="bg-green-400 flex items-center justify-start p-2">
					<h4 class="font-semibold mx-auto capitalize">
						Job Application Details
					</h4>
				</div>

				<div
					class="flex flex-col xl:flex-row justify-center items-center gap-3 p-5 bg-white flex-wrap 2xl:flex-nowrap">
					<!-- inner cards here -->
					<div
						class="card xl:w-1/4 w-full xl:my-3 min-h-fit text-center shadow-md">
						<div class="bg-gray-300 flex items-center justify-start p-2">
							<h4 class="font-semibold mx-auto">Application Status</h4>
						</div>
						<div class="flex-col justify-center items-center p-5 bg-gray-100">
							<p
								class="font-primary xl:text-xl text-4xl font-bold text-primary">
								{{ job.get_progress_display }}
							</p>
						</div>
					</div>
					<!-- end card -->
					<div
						class="card xl:w-1/4 w-full xl:my-3 min-h-fit text-center shadow-md">
						<div class="bg-gray-300 flex items-center justify-start p-2">
							<h4 class="font-semibold mx-auto">Posted Salary</h4>
						</div>
						<div class="flex-col justify-center items-center p-5 bg-gray-100">
							<p
								class="font-primary xl:text-xl text-4xl font-bold text-green-600">
								${{ job.salary }}
							</p>
						</div>
					</div>
					<!-- end card -->
					<div
						class="card xl:w-1/4 w-full xl:my-3 min-h-fit text-center shadow-md">
						<div class="bg-gray-300 flex items-center justify-start p-2">
							<h4 class="font-semibold mx-auto">Location</h4>
						</div>
						<div class="flex-col justify-center items-center p-5 bg-gray-100">
							<p
								class="font-primary xl:text-xl text-4xl font-bold text-purple-500 capitalize">
								{{ job.location }}
							</p>
						</div>
					</div>
					<!-- end card -->
					<div class="card xl:w-1/4 w-full xl:my-3 text-center shadow-md">
						<div class="bg-gray-300 flex items-center justify-start p-2">
							<h4 class="font-semibold mx-auto">Application Date</h4>
						</div>
						<div class="flex-col justify-center items-center p-5 bg-gray-100">
							<p
								class="font-primary xl:text-xl text-4xl font-bold text-red-500">
								{{ job.date }}
							</p>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- notes, connections, updates, etc. -->
		<section class="grid 2xl:grid-cols-2 2xl:grid-rows-2 grid-cols-1 gap-6 mt-6">
      <!-- status updates -->
			<div class="card min-h-fit text-center shadow-md row-span-2 bg-white">
				<div class="bg-green-400 flex items-center justify-start p-2">
					<h4 class="font-semibold mx-auto">Status Updates</h4>
				</div>
				<div class="flex flex-col items-start p-5 bg-white min-h-52">
        {% if statuss.count %}
          {% for status in job.status_set.all %}
          <div class="flex gap-3 items-center my-1 text-left">
            <a href="{% url 'delete_status' job.id status.id %}">
              <svg class="w-6 h-6 stroke-red-500"xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="3" stroke="currentColor" >
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
              </svg>
            </a>
            <p class="font-primary text-md font-normal">
                {{ status.date }}: {{ status.description }}
            </p>
          </div>
          {%  endfor %}
        {% else %}
          <div class="flex flex-col items-center text-gray-400 text-center w-full my-auto">
            No status updates yet.
          </div>
        {% endif %}
				</div>
        <form class="pb-5 t-3 bg-whiteflex flex flex-col justify-center text-center px-10">
          {% csrf_token %}
          <label class="font-primary font-semibold text-primary text-xl">Add New Status Update:</label>
          <input type="date" name="date" class="self-center rounded-full border-gray-300 border-2 my-2">
          <textarea class="border-2 rounded-xl border-gray-300 block" name="description" cols="30" rows="5" placeholder="Received callback to set-up interview"></textarea>
          <input type="submit" value="Add Update" class="self-center my-4 cursor-pointer button-text text-xs hover:text-primary border-2 border-primary bg-primary hover:bg-white text-white px-6 py-0.5 rounded-full transition duration-300">
        </form>
			</div>

			<!-- notes -->
			<div class="card min-h-fit text-center shadow-md bg-white">
				<div class="bg-green-400 flex items-center justify-start p-2">
					<h4 class="font-semibold mx-auto">Notes</h4>
				</div>
				<div class="flex-col justify-center items-center p-5">
					<p class="font-primary text-md font-normal">
						{{ job.notes }}
					</p>
				</div>
			</div>

			<!-- Connection card -->
			<div class="min-h-fit card text-center shadow-md bg-white">
				<div class="bg-cyan-300 flex items-center justify-start p-2">
					<h4 class="font-semibold mx-auto">Associated Connection</h4>
				</div>
				<div class="flex flex-col justify-center items-center p-5 bg-white min-h-fit">
					<p class="font-primary text-md font-normal">
						[test person here]
					</p>
				</div>
			</div>
		</section>
	</section>

	<!-- to-do's -->
	<aside class="xl:h-screen h-fit bg-white xl:w-1/4 p-7 shadow-lg">
		<h1 class="font-primary text-primary font-bold text-3xl">To-Do ({{ todos.count }})</h1>
    <section class="flex flex-col justify-between h-[97%] mt-3">
      {% if todos.count %}
        <ul>
          {% for todo in job.todo_set.all %}
            <div class="flex items-center gap-3">
              <a href="{% url 'delete_todo' job.id todo.id %}">
                <svg class="w-6 h-6 stroke-red-500"xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="3" stroke="currentColor" >
                  <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                </svg>
              </a>
              
              <a href="{% url 'update_todo' job.id todo.id %}">
               <div class="h-4 w-4 border-2 border-black relative">
                {% if todo.done %}
                  <svg class="w-5 h-5 absolute bottom-[-0.1rem] left-[-0.15rem] stroke-primary"xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="3">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5" />
                  </svg>
                {% endif %}
               </div>
              </a>
              <li class="text-md text-wrap my-2">
                {{ todo.description }}
              </li>
            </div>
          {% endfor %}
        </ul>
      {% else %}
        <div class="py-24 px-5 border-4 border-dashed border-gray-500 mt-10 text-center rounded-xl text-gray-500">
          <p class="font-primary font-semibold">Hooray, nothing to do!</p>
        </div>
      {%  endif %}
      <form action="{% url 'add_todo' job.id %}" method="POST" class="text-center flex flex-col items-center justify-center p-3">
        {% csrf_token %}
        <label class="font-primary font-semibold text-primary text-xl">Add New To-Do Item:</label>
        <textarea class="border-2 rounded-xl border-gray-300 block w-full" name="description" cols="30" rows="8" placeholder="Research React and Vue before interview"></textarea>
        <input type="submit" value="Add To-Do" class="my-4 cursor-pointer button-text inline-block text-xs hover:text-primary border-2 border-primary bg-primary hover:bg-white text-white px-6 py-0.5 rounded-full transition duration-300">
      </form>
    </section>
	</aside>
</div>

{% endblock %}
