{% extends 'base.html' %} 
{% block content %}
<div class="p-7">

  <div class="flex flex-col md:flex-row gap-3 items-center justify-between">
    <h1 class="font-primary text-primary font-bold text-3xl">
      My Job Applications ({{ jobs.count }})
    </h1>
    <a href="{% url 'jobs_create' %}" class="button-text bg-primary border-2 border-primary text-white text-sm px-6 py-1 rounded-full hover:text-primary hover:bg-white transition duration-300">
      Add Job App
    </a>
  </div>

  <!-- status columns container -->
  <div class="mt-4 flex xl:flex-row flex-col w-full gap-5">
    <!-- pending container -->
    <div class="flex-col xl:w-1/4">
      <div class="flex justify-center items-center gap-4">
        <div class="w-4 h-4 rounded-full bg-green-300 inline-block"></div>
        <span>Submitted / Pending (#)</span>
      </div>
      <div class="bg-violet-100 p-3 mt-3 rounded-lg h-44 overflow-scroll capitalize">
        <!-- for each - pending jobs goes here -->
        {% for job in jobs %}
          {% if job.progress == 'P'%}
            <a href="{% url 'detail' job.id %}">
              <div class="text-sm bg-green-300 py-1 px-2 mb-1 rounded-md text-center hover:shadow-inner hover:scale-[1.04] transition duration-300">      
                {{ job.position }} @ {{ job.company }}
              </div>
            </a>
          {% endif %}
        {% endfor %}

        <!-- end of for each -->
      </div>
    </div>

    <!-- interviewing container -->
    <div class="flex-col xl:w-1/4">
      <div class="flex justify-center items-center gap-4">
        <div class="w-4 h-4 rounded-full bg-green-400 inline-block"></div>
        <span>Interviewing (#)</span>
      </div>
      <div class="bg-violet-100 p-3 mt-3 rounded-lg h-44 overflow-scroll capitalize">
        <!-- for each - interviewing jobs goes here -->
        {% for job in jobs %}
          {% if job.progress == 'I'%}
            <a href="{% url 'detail' job.id %}">
              <div class="text-sm bg-green-400 py-1 px-2 mb-1 rounded-md text-center hover:shadow-inner hover:scale-[1.04] transition duration-300">      
                {{ job.position }} @ {{ job.company }}
              </div>
            </a>
          {% endif %}
        {% endfor %}


        <!-- end of for each -->
      </div>
    </div>

    <!-- offers container -->
    <div class="flex-col xl:w-1/4">
      <div class="flex justify-center items-center gap-4">
        <div class="w-4 h-4 rounded-full bg-green-500 inline-block"></div>
        <span>Offers Extended (#)</span>
      </div>
      <div class="bg-violet-100 p-3 mt-3 rounded-lg h-44 overflow-scroll capitalize">
        <!-- for each - offers jobs goes here -->
        {% for job in jobs %}
          {% if job.progress == 'O'%}
            <a href="{% url 'detail' job.id %}">
              <div class="text-sm bg-green-500 py-1 px-2 mb-1 rounded-md text-center hover:shadow-inner hover:scale-[1.04] transition duration-300">      
                {{ job.position }} @ {{ job.company }}
              </div>
            </a>
          {% endif %}
        {% endfor %}

        <!-- end of for each -->
      </div>
    </div>

    <!-- rejected container -->
    <div class="flex-col xl:w-1/4">
      <div class="flex justify-center items-center gap-4">
        <div class="w-4 h-4 rounded-full bg-black inline-block"></div>
        <span>Rejected (#)</span>
      </div>
      <div class="bg-violet-100 p-3 mt-3 rounded-lg h-44 overflow-scroll capitalize">
        <!-- for each - rejected jobs goes here -->
        {% for job in jobs %}
          {% if job.progress == 'R'%}
            <a href="{% url 'detail' job.id %}">
              <div class="text-sm bg-black text-white py-1 px-2 mb-1 rounded-md text-center hover:shadow-inner hover:scale-[1.04] transition duration-300">      
                {{ job.position }} @ {{ job.company }}
              </div>
            </a>
          {% endif %}
        {% endfor %}

        <!-- end of for each -->
      </div>
    </div>
    <!-- end of rejected container -->
    
  </div>

  <div class="flex justify-center xl:block">
    <h1 class="font-primary font-bold text-primary text-3xl mt-10">Bookmarked Jobs (#)</h1>
  </div>

  <section class="card my-3 bg-violet-100 min-h-80 h-fit p-6 overflow-scroll">
    <div class="grid xl:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-x-3 gap-y-1">
      {% for job in jobs %}
        {% if job.bookmarked %}
          <a href="{% url 'detail' job.id %}">
            <div class="bg-primary font-primary text-lg text-white py-1 px-2 mb-1 min-h-10 rounded-md capitalize text-center flex justify-center items-center hover:shadow-inner hover:scale-[1.04] transition duration-300">      
              {{ job.position }} @ {{ job.company }}
            </div>
          </a>
        {% endif %}
      {% endfor %}
    </div>
  </section>

  <div class="flex justify-center xl:block">
    <h1 class="font-primary font-bold text-primary text-3xl mt-10 overflow-scroll">Search My Job Apps</h1>
  </div>
  <label class="relative">
    <svg id="search" class="w-5 absolute bottom-0 left-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
      <path fill-rule="evenodd" d="M10.5 3.75a6.75 6.75 0 1 0 0 13.5 6.75 6.75 0 0 0 0-13.5ZM2.25 10.5a8.25 8.25 0 1 1 14.59 5.28l4.69 4.69a.75.75 0 1 1-1.06 1.06l-4.69-4.69A8.25 8.25 0 0 1 2.25 10.5Z" clip-rule="evenodd" />
    </svg>   
    <input id="search-bar" class="w-full my-4 border-0 bg-violet-100 rounded-full px-6 font-secondary" type="text">
  </label>
</div>
{% endblock %}
